<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>

        <title>kusmeeks info</title>

        <meta charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="./css/site.css">

    </head>

    <body>

        <div>

            <div class="wsb-canvas body">

                <div class="wsb-canvas-page-container">

                    <div class="wsb-canvas-page page" id="wsb-canvas-template-page">

                        <div class="" id="wsb-canvas-template-container">

                            <component type="typeof(Navigator)" render-mode="Static" />

                            <component type="typeof(Unsolved)" render-mode="Static" />                            

                            <main role="main"> @RenderBody() </main>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script type="text/javascript" src="./script/links.js"></script>

    </body>

</html>