<div class="wsb-element-navigation" id="wsb-element-67510526">

    <div class="wsb-nav nav_theme nav-text-center nav-horizontal nav-btn-stretch wsb-navigation-rendered-top-level-container" id="wsb-nav-67510526">

        <ul class="wsb-navigation-rendered-top-level-menu">

            <li>
                <a href="/Animus">Animus</a>
            </li>

            <li>
                <a href="/Corpus">Corpus</a>
            </li>

            <li>
                <a href="/Notes">Notes</a>
            </li>

            <li>
                <a href="/Watch">Watch</a>
            </li>

            <li>
                <a href="/Give">Give</a>
            </li>

        </ul>

    </div>

</div>