<div id="wsb-element-60822041" class="wsb-element-text">

    <div class="info txt">

        <h1>
            <a href="http://en.wikipedia.org/wiki/Unsolved_problems"><span style="@_">?</span></a>
        </h1>

    </div>

</div>

@code
{
    String _ = "color:#" + new Random().Next(0xFFFFFF).ToString("X6");
}