<link rel="stylesheet" type="text/css" href="./css/corpus.css">

<div id="wsb-element-61284894" class="wsb-element-text">

    <div class="info txt">

        <div style="text-align: center;">

            <a href="http://www.amazon.com/The-Magic-Reality-Really-ebook/dp/B0078XFYDA"><span style="color:#00FF00;">correct</span></a>

            <a href="http://www.12uh.com/improbulos/other-books/quote-books"><span style="color:#0000FF;">concordant</span></a>

            <a href="http://www.amazon.com/How-the-Mind-Works-ebook/dp/B0042XA2XG"><span style="color:#FF0000;">cogitation</span></a>

        </div>

    </div>

</div>

<div id="wsb-element-67557013" class="wsb-element-image">

    <div class="wsb-image-inner info">

        <div>
            <a href="http://www.godlessgeeks.com/WhyAtheism.htm"><img src="./img/gfx.png" alt="reason" style="width:717px;height:428px;"></a>
        </div>

    </div>

</div>