<link rel="stylesheet" type="text/css" href="./css/animus.css">

<div id="wsb-element-68199328" class="wsb-element-text">

    <div class="info txt">

        <h5>
            <a href="https://www.amazon.com/dp/B086SWVP53">Mastering Essential Math Skills Curriculum</a>
        </h5>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Atheists-Agnostics-Secular-Humanists-ebook/dp/B00D71EJ2E">The Big Book of Lists for Atheists, Agnostics &amp; Secular Humanists</a>
        </h5>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Become-Really-Good-Pain-ebook/dp/B00C4B2VWS">How to Become a Really Good Pain in the Ass: A Critical Thinker's Guide to Asking the Right Questions</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>​In this witty, incisive guide to critical thinking, Christopher DiCarlo provides you with the tools to allow you to question beliefs and assumptions held by those who claim to know what they’re talking about.This book will empower you with the ability to spot faulty reasoning and, by asking the right sorts of questions, hold people accountable not only for what they believe but how they behave. From an introduction to formal logic that everyone can understand to a guide to the big questions about knowledge, meaning, ethics, and purpose in life, it's all in here. Anyone who reads through this book is going to emerge with a broad education, and with a solid acquaintance with a great many principles of elementary logic, plus an introduction to epistemology, the philosophy of religion, and a lot more (including, recent and prominent findings in evolutionary biology and bio-sociology drawn from serious sources).</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/The-God-Delusion-ebook/dp/B003JTHWJQ">The God Delusion</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>With rigor and wit, Richard Dawkins examines God in all his forms, from the sex-obsessed tyrant of the Old Testament to the more benign (but still illogical) Celestial Watchmaker favored by some Enlightenment thinkers. He eviscerates the major arguments for religion and demonstrates the supreme improbability of a supreme being. He shows how religion fuels war, foments bigotry, and abuses children, buttressing his points with historical and contemporary evidence. The God Delusion makes a compelling case that belief in God is not just wrong but potentially deadly. It also offers exhilarating insight into the advantages of atheism to the individual and society, not the least of which is a clearer, truer appreciation of the universe's wonders than any faith could ever muster.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Universe-Nothing-Something-Rather-ebook/dp/B004T4KQJS">A Universe from Nothing: Why There Is Something Rather than Nothing</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>In a cosmological story that rivets as it enlightens, pioneering theoretical physicist Lawrence Krauss explains the groundbreaking new scientific advances that turn the most basic philosophical questions on their heads. The staggeringly beautiful experimental observations and mind-bending new theories are all described accessibly in A Universe from Nothing, and they suggest that not only can something arise from nothing, something will always arise from nothing. With his characteristic wry humor and wonderfully clear explanations, Krauss takes us back to the beginning of the beginning, presenting the most recent evidence for how our universe evolved—and the implications for how it’s going to end. It will provoke, challenge, and delight readers as it looks at the most basic underpinnings of existence in a whole new way.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/God-Not-Great-Everything-ebook/dp/B000QUCO4Y">God Is Not Great: How Religion Poisons Everything</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>Christopher Hitchens makes the ultimate case against religion. With a close and erudite reading of the major religious texts, he documents the ways in which religion is a man-made wish, a cause of dangerous sexual repression, and a distortion of our origins in the cosmos. With eloquent clarity, Hitchens frames the argument for a more secular life based on science and reason, in which hell is replaced by the Hubble Telescope's awesome view of the universe, and Moses and the burning bush give way to the beauty and symmetry of the double helix.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Reasons-People-Give-Believing-ebook/dp/B002EZZ42I">50 Reasons People Give for Believing in a God</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>​​From religion as the foundation of morality to the authority of sacred books, the compelling religious testimony of influential people, near-death experiences, arguments from Intelligent Design, and much more, Guy Harrison respectfully describes each rationale for belief and then politely shows the deficiencies that any good skeptic would point out. Whether you're a believer, a complete skeptic, or somewhere in between, you'll find this review of traditional and more recent arguments for the existence of God refreshing, approachable, and enlightening. Each chapter's title is a common statement made by a religious person to justify his or her belief, such as "I want eternal life," "some very smart people believe in God," and "atheism is a negative and empty philosophy." The author responds to these and forty-seven other faith-based pronouncements in a reasonable, logical, and easy-to-read manner.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/The-Comprehensible-Cosmos-Where-Physics/dp/1591024242">The Comprehensible Cosmos: Where Do the Laws of Physics Come From?</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>In a series of remarkable developments in the 20th century and continuing into the 21st, elementary particle physicists, astronomers, and cosmologists have removed much of the mystery that surrounds our understanding of the physical universe. We now have mathematical models that are consistent with all observational data, including measurements of incredible precision. For those fascinated by how physics explains the universe and affects philosophy, this in-depth presentation of the cosmos, complete with an appendix of mathematical formulas, makes accessible to lay readers findings normally available only to professional scientists. Victor J. Stenger argues that physical laws are simply restrictions on the ways physicists may draw the models they use to represent the behavior of matter if they wish to do so objectively.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/The-New-Atheism-Science-ebook/dp/B002MUC48W">The New Atheism: Taking a Stand for Science and Reason</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>​​In recent years a number of bestselling books have forcefully argued that belief in God can no longer be defended on rational or empirical grounds, and that the scientific worldview has rendered obsolete the traditional beliefs held by Christianity, Judaism, and Islam. The authors of these books--Richard Dawkins, Daniel Dennett, Sam Harris, Christopher Hitchens, and Victor J. Stenger--have come to be known as the "New Atheists." In this book Victor J. Stenger reviews and expands upon the principles of New Atheism and answers many of its critics. He demonstrates in detail that naturalism--the view that all of reality is reducible to matter and nothing else--is sufficient to explain everything we observe in the universe, from the most distant galaxies to the inner workings of the brain that result in the phenomenon of mind. Stenger disputes the claim of many critics that the question of whether God exists is beyond the ken of science. On the contrary, he argues that absence of evidence for God is, indeed, evidence of absence when the evidence should be there and is not.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Atheists-Angry-Things-Godless-ebook/dp/B007MCMKV6">Why Are You Atheists So Angry? 99 Things That Piss Off the Godless</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>​Is it because they're selfish, joyless, lacking in meaning, and alienated from God? Or is it because they have legitimate reasons to be angry -- and are ready to do something about it? Armed with passionate outrage, absurdist humor, and calm intelligence, popular blogger Greta Christina makes a powerful case for outspoken atheist activism, and explains the empathy and justice that drive it.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Letter-Christian-Nation-ebook/dp/B000JMKTNM">Letter to a Christian Nation</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>“Thousands of people have written to tell me that I am wrong not to believe in God. The most hostile of these communications have come from Christians. This is ironic, as Christians generally imagine that no faith imparts the virtues of love and forgiveness more effectively than their own. The truth is that many who claim to be transformed by Christ’s love are deeply, even murderously, intolerant of criticism. While we may want to ascribe this to human nature, it is clear that such hatred draws considerable support from the Bible. How do I know this? The most disturbed of my correspondents always cite chapter and verse.” - Sam Harris</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Who-Wrote-New-Testament-ebook/dp/B00APGJZSC">Who Wrote the New Testament?: The Making of the Christian Myth</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>​In this groundbreaking and controversial book, Burton Mack brilliantly exposes how the Gospels are fictional mythologies created by different communities for various purposes and are only distantly related to the actual historical Jesus. A comprehensive synthesis of New Tes</span>
            <span>tament scholarship that is nevertheless popularly accessible, it will make a particularly useful introductory text in an area where such texts are in great demand. As the subtitle suggests, the book is also a critical account of the making of the Christian myth--an invitation to critical reflection on the social construction of a foundational epic that has shaped (and been shaped by) the history and behavior of the West since Constantine. Whether Jesus actually lived is insignificant beside how stories of his life and ideas were promulgated. Mack carefully depicts the socio-political scenario in which the Jesus story took root.</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Short-History-Nearly-Everything-ebook/dp/B000FBFNII">A Short History of Nearly Everything</a>
        </h5>

        <p>
            <br>
        </p>

        <p>
            <span>From primordial nothingness to this very moment, A Short History of Nearly Everything reports what happened and how humans figured it out. To accomplish this daunting literary task, Bill Bryson uses hundreds of sources, from popular science books to interviews with luminaries in various fields. His aim is to help people like him, who rejected stale school textbooks and dry explanations, to appreciate how we have used science to understand the smallest particles and the unimaginably vast expanses of space. Bryson's organization is historical and his prose heavy on humanizing anecdotes about the pioneers of physics, chemistry, geology, biology, paleontology, and cosmology. "This is a book about how it happened," the author writes. "In particular how we went from there being nothing at all to there being something, and then how a little of that something turned into us, and also what happened in between and since."</span>
        </p>

        <p>
            <br>
        </p>

        <h5>
            <a href="http://www.amazon.com/Transhumanist-Wager-Zoltan-Istvan-ebook/dp/B00AQQSY60">The Transhumanist Wager</a>
        </h5>

        <p>
            <br>
        </p>

    </div>

</div>