<link rel="stylesheet" type="text/css" href="./css/give.css">

<div id="wsb-element-156982558" class="wsb-element-text">

    <div class="info txt">

        <p>
            <a href="http://www.heifer.org/gift-catalog/give-where-needed-most-donation.html"><span>Heifer International</span></a>
        </p>

        <p>
            <a href="http://freethoughtequality.org/"><span>Freethought Equality Fund PAC</span></a>
        </p>

        <p>
            <a href="https://americanhumanist.org/ways-to-give/donate/"><span>American Humanist Association</span></a>
        </p>

        <p>
            <a href="https://gohumanity.world"><span>GO Humanity</span></a>
        </p>

        <p>
            <a href="https://secular.org"><span>Secular Coalition for America</span></a>
        </p>

        <p>
            <a href="http://www.habitat.org"><span>Habitat for Humanity</span></a>
        </p>

        <p>
            <a href="https://www.secularstudents.org/support"><span>​Secular Student Alliance</span></a>
        </p>

        <p>
            <a href="https://centerforinquiry.org/"><span>Center for Inquiry</span></a>
        </p>

        <p>
            <a href="https://www.atheist-community.org/Donations"><span>​Atheist Community of Austin</span></a>
        </p>

        <p>
            <a href="https://www.doctorswithoutborders.org/donate/onetime.cfm"><span>Doctors Without Borders</span></a>
        </p>

        <p>
            <a href="https://atheists.org/donate"><span>American Atheists</span></a>
        </p>

        <p>
            <a href="http://www.infidels.org/infidels/support.html"><span>Internet Infidels</span></a>
        </p>

        <p>
            <a href="http://www.pfaw.org/about-us/values"><span>People For the American Way</span></a>
        </p>

        <p>
            <a href="https://richarddawkins.net/donate/"><span>Richard Dawkins Foundation for Reason and Science</span></a>
        </p>

        <p>
            <a href="https://www.redcross.org/donate/donation.html"><span>American Red Cross</span></a>
        </p>

        <p>
            <a href="https://www.atheistallianceamerica.org/"><span>Atheist Alliance of America</span></a>
        </p>

        <p>
            <a href="https://ffrf.org/donate"><span>Freedom From Religion Foundation</span></a>
        </p>

    </div>

</div>