<link rel="stylesheet" type="text/css" href="./css/notes.css">

<div id="wsb-element-127015527" class="wsb-element-text">

    <div class="info txt">

        <p>
            <a href="http://www.godlessgeeks.com/WhyAtheism.htm"><span>Why Atheism?</span></a>
        </p>

        <p>
            <a href="http://www.infidels.org/library/modern/nontheism/secularhumanism/"><span>Secular Humanism</span></a>
        </p>

        <p>
            <a href="http://leavingyourreligion.com/"><span>​Leaving Your Religion</span></a>
        </p>

        <p>
            <a href="http://jesuspuzzle.com/jesuspuzzle/index.htm"><span>Historical Jesus or Jesus Myth: The Jesus Puzzle</span></a>
        </p>

        <p>
            <a href="http://skepdic.com/intro.html"><span>The Skeptic's Dictionary</span></a>
        </p>

        <p>
            <a href="http://www.iep.utm.edu/amer-enl"><span>"American Enlightenment Thought" at The Internet Encyclopedia of Philosophy</span></a>
        </p>

        <p>
            <a href="http://secularhumanism.org"><span>​Council for Secular Humanism</span></a>
        </p>

        <p>
            <a href="http://www.truth-saves.com/"><span>Truth-Saves</span></a>
        </p>

        <p>
            <a href="http://www.godisimaginary.com/"><span>God is Imaginary</span></a>
        </p>

        <p>
            <a href="http://www.patheos.com/Library.html"><span>Patheos Library of World Religions and Faith Traditions</span></a>
        </p>

        <p>
            <a href="http://en.wikipedia.org/wiki/Transhumanism"><span>Transhumanism Wiki</span></a>
        </p>

        <p>
            <a href="http://www.secularstudents.org/about"><span>Secular Student Alliance</span></a>
        </p>

        <p>
            <a href="http://americanhumanist.org"><span>American Humanist Association</span></a>
        </p>

        <p>
            <a href="http://www.godlessgeeks.com/LINKS/GodProof.htm"><span>Proofs of God's Existence</span></a>
        </p>

        <p>
            <a href="http://secular.org/content/key-issues"><span>Secular Coalition for America</span></a>
        </p>

        <p>
            <a href="http://clergyproject.org/"><span>The Clergy Project</span></a>
        </p>

        <p>
            <a href="http://ffrf.org/about"><span>Freedom From Religion Foundation</span></a>
        </p>

        <p>
            <a href="http://www.talkorigins.org/faqs/comdesc/"><span>​Evidence for Macroevolution</span></a>
        </p>

        <p>
            <a href="http://www.talkorigins.org/indexcc/index.html"><span>​Index to Creationist Claims</span></a>
        </p>

        <p>
            <a href="http://unitedcor.org"><span>United Coalition of Reason</span></a>
        </p>

        <p>
            <a href="http://www.jesusneverexisted.com/"><span>JesusNeverExisted (Enlightenment Articles by Kenneth Humphreys)</span></a>
        </p>

        <p>
            <a href="http://wiki.ironchariots.org/index.php?title=Main_Page"><span>Iron Chariots Counter-Apologetics Wiki</span></a>
        </p>

        <p>
            <a href="http://www.bibviz.org"><span>BibViz Bible Contradictions, Mosogyny, Violence &amp; Inaccuracies</span></a>
        </p>

        <p>
            <a href="http://freethoughtreport.com/"><span>​The Freedom of Though Report on Global Discrimination</span></a>
        </p>

        <p>
            <a href="http://moralcompassblog.com/"><span>Moral Compass Blog</span></a>
        </p>

        <p>
            <a href="http://rationalwiki.org"><span>Rational Wiki</span></a>
        </p>

    </div>

</div>