<link rel="stylesheet" type="text/css" href="./css/watch.css">

<div id="wsb-element-64062985" class="wsb-element-text">

    <div class="info txt">

        <p>
            <a href="http://www.youtube.com/watch?v=9Eo5MdHMNcw"><span>Thunderf00t on Creationism</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/playlist?list=PL126AFB53A6F002CC"><span>Aronra Foundational Falsehoods</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/user/TheAtheistExperience"><span>The Atheist Experience</span></a>
        </p>

        <p>
            <a href="http://www.youtube.com/watch?v=By3ijuxkxDg"><span>Is Church Harmful?</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/user/bigthink/videos"><span>Big Think</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/user/JesusNeverExistd/videos?sort=dd&amp;view=1&amp;flow=list&amp;live_view=500"><span>JesusNeverExisted</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/playlist?list=PLA0C3C1D163BE880A"><span>Evid3nc3</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/user/misterdeity?feature=watch"><span>​Mr. Deity</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/user/DonExodus2/featured"><span>​DonExodus</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/playlist?list=PLDE12354A6C44BE95"><span>Dusty</span></a>
        </p>

        <p>
            <a href="http://www.youtube.com/watch?v=-Ip5BAEfZuA"><span>Universe History in 10</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/user/fsx23?feature=watch"><span>​fsx23</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/playlist?list=PLNEqcbeMKtJfBYxfFnRn8vSEjVIYM6qjq"><span>AtheismFTW</span></a>
        </p>

        <p>
            <a href="https://www.youtube.com/playlist?list=PLIoP-snInjB0hK-ruKm2YFy2bGlZOfXpo"><span>KnownNoMore</span></a>
        </p>

        <p>
            <a href="http://www.youtube.com/watch?v=iR0GyYaeI-k"><span>Hitchens</span></a>
        </p>

    </div>

</div>