p
{
    text-align: justify;
}

#wsb-element-68199328 p span
{
    color: #FFFFFF;
}

#wsb-element-68199328
{
    top: 176px;
    left: 8px;
    position: absolute;
    z-index: 23
}

#wsb-element-68199328 .txt
{
    width: 1003px;
    height: 2207px
}

#wsb-canvas-template-page
{
    height: 2500px
}