p
{
    text-align: center;
}

#wsb-element-156982558 span
{
    color: #FFFFFF;
}

#wsb-element-156982558
{
    top: 177px;
    left: 9.5px;
    position: absolute;
    z-index: 24
}

#wsb-element-156982558 .txt
{
    width: 1001px;
    height: 396px
}

#wsb-canvas-template-page
{
    height: 660px
}