p
{
    text-align: center;
}

#wsb-element-127015527 span
{
    color: #FFFFFF;
}

#wsb-element-127015527
{
    top: 190px;
    left: 6px;
    position: absolute;
    z-index: 26
}

#wsb-element-127015527 .txt
{
    width: 1005px;
    height: 616px
}

#wsb-canvas-template-page
{
    height: 870px
}