[hidden]
{
    display: none
}

a
{
    color: #444;
    text-decoration: underline
}

a:hover
{
    text-decoration: none
}

a:focus
{
    outline: thin dotted
}

a:active, a:hover
{
    outline: 0
}

b, strong
{
    font-weight: bold
}

body
{
    font-family: "Lucida Sans",sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #444;
    line-height: 1.3;
    margin: 0
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal
}

h1
{
    font-size: 42px;
    line-height: 1;
    text-align: center;
}

h2
{
    font-size: 34px;
    line-height: 1.2
}

h3
{
    font-size: 28px
}

h4
{
    font-size: 24px
}

h5
{
    font-size: 18px;
    text-align: center;
}

h6
{
    font-size: 16px
}

hr
{
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

html
{
    margin: 0
}

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, img, li
{
    margin-top: 0;
    margin-bottom: 0;

}

img
{
    border: 0
}

p
{
    line-height: 1.6
}

.page
{
    padding-bottom: 40px
}

.txt
{
    word-wrap: break-word
}

.wsb-canvas
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: #3f007f;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    scrollbar-width: none;
}

::-webkit-scrollbar
{
    display: none;
}

.wsb-canvas-scrollable
{
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;    
}

.wsb-canvas-page
{
    margin: auto;
    width: 1024px;
    background-color: #000000;
    position: relative;
    margin-top: 0px;    
}

.wsb-canvas-page-container
{
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;    
    position: absolute;
}

.wsb-element-text a, .wsb-text-element a
{
    font-size: inherit !important
}

.wsb-navigation-rendered-top-level-menu li
{
    width: 20%;
}

.wsb-nav
{
    width: 1004px;
    height: 30px;
    position: relative;
}

.wsb-nav ul
{
    display: table;
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style-type: none
}

.nav-btn-left
{
    text-align: left
}

.nav-btn-left > ul
{
    margin-left: 0
}

.nav-btn-left.nav-vertical > ul
{
    text-align: left
}

.nav-btn-center
{
    text-align: center
}

.nav-btn-center.nav-vertical > ul
{
    text-align: center
}

.nav-btn-right
{
    text-align: right
}

.nav-btn-right > ul
{
    margin-right: 0
}

.nav-btn-right.nav-vertical > ul
{
    text-align: right
}

.nav-btn-stretch > ul
{
    width: 100%
}

.nav-text-left > ul > li
{
    text-align: left
}

.nav-text-right > ul > li
{
    text-align: right
}

.nav-text-center > ul > li
{
    text-align: center
}

.nav-horizontal > ul > li
{
    display: inline-block
}

.nav-horizontal.nav-btn-stretch > ul > li, .nav-horizontal.nav-equal-width > ul > li
{
    display: table-cell
}

.nav-vertical > ul > li
{
    display: table;
    margin-left: auto;
    margin-right: auto
}

.nav-vertical.nav-btn-left > ul > li
{
    margin-left: 0
}

.nav-vertical.nav-btn-right > ul > li
{
    margin-right: 0
}

.nav-vertical.nav-btn-stretch > ul > li, .nav-vertical.nav-equal-width > ul > li
{
    display: block
}

.wsb-nav li.has-children > a:after
{
    content: ' ►';
    display: none
}

.wsb-nav.nav-horizontal > ul > li.has-children > a:after
{
    content: ' ▼';
    display: none
}

.wsb-nav > ul ul
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: solid 1px #efefef;
    width: 200px
}

.wsb-nav > ul ul li a
{
    color: #333;
    padding: .25em .6em;
    display: block;
    text-decoration: none
}

.wsb-nav > ul ul li:hover > a
{
    background-color: #efefef
}

.nav_simple > ul > li
{
    border-right: 1px #aeaeae solid;
    padding: 0 20px
}

.nav_simple > ul > li:last-child
{
    border-right: 0
}

.nav_simple > ul > li > a:hover
{
    text-decoration: none
}

.nav_theme > ul > li > a
{
    font-weight: 400;
    font-size: 18px;
    color: #444;
    display: block;
    text-decoration: none;
    margin: 0 1px;
    padding: 5px 25px;
    text-align: center
}

.nav_theme > ul > li.active > a, .nav_theme > ul > li:hover > a
{
    background-color: #c3c0ad;
    background-color: rgba(0,0,0,0.1)
}

.nav_theme .nav-subnav
{
    border: 0 none
}

.nav_theme .nav-subnav > li
{
    border: 5px solid #C2C0AE;
    background: #C2C0AE;
    -moz-box-shadow: 0 1px 1px #aaa;
    -webkit-box-shadow: 0 1px 1px #aaa;
    box-shadow: 0 1px 1px #999
}

.nav_theme .nav-subnav li > a
{
    font-weight: 400;
    font-size: 17px;
    color: #444;
    padding: 5px 15px;
    border-top: 2px solid #C2C0AE;
    background: #CBCABC;
    display: block
}

.nav_theme .nav-subnav li:hover > a
{
    background-color: #d3d2c6
}

#wsb-element-67510526
{
    top: 8px;
    left: 8px;
    position: absolute;
    width: 1004px;
    height: 30px;
    z-index: 21
}

#wsb-nav-67510526.wsb-navigation-rendered-top-level-container ul > li > a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #ffffff;
}

#wsb-nav-67510526.wsb-navigation-rendered-top-level-container > ul > li > a
{
    font-size: 16px;
}

#wsb-nav-67510526.wsb-navigation-rendered-top-level-container ul > li:hover, #wsb-nav-67510526.wsb-navigation-rendered-top-level-container ul > li:hover > a, #wsb-nav-67510526.wsb-navigation-rendered-top-level-container ul > li.active:hover, #wsb-nav-67510526.wsb-navigation-rendered-top-level-container ul > li.active > a:hover, #wsb-nav-67510526.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover, #wsb-nav-67510526.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover > a
{
    background-color: !important;
    color: #3f007f !important;
}

#wsb-nav-67510526.wsb-navigation-rendered-top-level-container > ul.wsb-navigation-rendered-top-level-menu > li.active, #wsb-nav-67510526.wsb-navigation-rendered-top-level-container > ul.wsb-navigation-rendered-top-level-menu > li.active > a
{
    color: #ffffff;
}

#wsb-canvas-template-container
{
    position: absolute;
}

#wsb-element-60822041
{
    top: 66px;
    left: 8px;
    position: absolute;
    z-index: 15
}

#wsb-element-60822041 .txt
{
    width: 1003px;
    height: 42px
}

